body{ 
  
   margin: 0px;
    color:black;
    font: arial;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }
  
 

#background{
    width:100%;
    position:fixed;
    z-index:-1;
   

}

/*.bg-text {
  font-size: 100px;
  font-family: Arial;
  padding-top: 8%;
  padding-bottom: 8%;
  color: white;
}*/

#background{
img{width:100%;} 

}  

background::after{
   
    content:'';
    display:block;
    height:170px;
    bottom:0px;
    position:absolute;
    width:100%;
    
}


/* Add a black background color to the top navigation */
.topnav {
  background-color:white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}

/* Add an active class to highlight the current page */
.active {
  background-color: transparent;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown  {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial;
  margin: 0;
}

.dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  
  background-color: inherit;
  font-family: Arial;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  
 
  


header {
  background-color: #FFb7CE; /* Set the background color for the top bar */
  padding: 10px; /* Add some padding for spacing */
}
.top-bar {
  display: flex; /* Use flexbox to align logo and search bar */
  justify-content: space-between; /* Align items with maximum space between */
  align-items: center; /* Center vertically */
  
}
.logo img {
  width: 350px;
  height: 65px; /* Adjust the height of your logo */
}
.search-bar form {
  display: flex; /* Align input and button horizontally */
  padding-right: 150px;
}
.search-bar input {
  padding: 5px; /* Add spacing inside the search input */
  margin-right: 5px; /* Add some space between input and button */
  font-size: 20px;
  width: 400px;
  height: 30px;

}



}
/*.search-bar button {*/
 /* padding: 5px 30px; /* Add padding to button */
  /*background-color: #4071f8; /* Set button background color */
  /*color: #fff; /* Set button text color */
  /*border: none; /* Remove button border */
  /*cursor: pointer; /* Add cursor pointer on hover */
  /*margin-right: 200px;*/
}

    
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

  
    .container {
      padding-top: 15%;
      padding-bottom: 0%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;

    }

    .containerbottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

    .button1, .button2, .button3 {
      width: 280px;
      height: 80px;
      background-color: white;
      margin: 20px;
      font-size: 20px;
      color: black;
      font-family: Arial;
      
      

    }

    .button4, .button5, .button6 {
      width: 140px;
      height: 40px;
      background-color: white;
      margin: 20px;
      font-size: 15px;
      color: black;
      font-family: Arial, sans-serif;
      
    }
   

    .button-alt{
      width: 280px;
      height: 80px;
      background-color: #bdbcb2;
      margin: 10px;
      font-size: 20px;
      color: #424242;
      font-family: Arial, sans-serif;
      float: right;
      
    }

    h3{
      float: left;
      margin: 10px 10px 10px 60px;
    }

   

    .content{
      width: 100%;
      background-color: white;
      font-family: arial;
      color:#222;
      font-size: 20px;
      line-height:25px;
      height: fit-content;
      text-align: left;
      padding-left: 15px; 
      padding-top: 10px;
      padding-bottom: 10px;
           
    }

    


    .reviews{
      width: 100%;
      background-color: white;
      font-family: arial;
      color:#424242;
      float: left;
      font-size: 20px;
      line-height:25px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      padding-left: -40x;
    }



    .footer{
      width: 100%;
      background-color:#FFb7CE;
      font-family: arial;
      color:#bdbcb2;
      float: left;
      font-size: 20px;
      line-height:25px;
    }

    .f-links{
      font-family: arial;
      color:#222;
      float: left;
      font-size: 15px;
      line-height:5px;
      margin-left: 150px;
      margin-top: 10px
    }

    .f-header {
      align-items: center;
      padding-top: 30px;
      
    }

    .f-address, .f-social, .f-phone {
      margin-top: 10px;
  }
  
  .f-address p, .f-social p, .f-phone p {
      font-size: 15px;
      color: black;
  }



    .block{
      margin: 20px;
      align-items: center;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin: 10px;
  }
  
  .column {
    text-align: center;
}
  .wrap {
      overflow: hidden; /* Clearfix to contain floated elements */
  }
  
  .image-left {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px;
      width: 150px; /* Adjust the width as needed */
      height: auto;
  }
  
  .wrap p {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      text-align: start;
  }
    
  .cabin img{
    width: 360px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    float: left;
    margin: 40px;
    /*border-style: solid;
    border-color: black;
    border-width: 4px;*/
  }

  @media (max-width: 768px) {
    .cabin img {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

.notices{
  float: right;
  margin: 10px 10px 10px 10px;
  width: 400px;
  height: 250px; 
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 20px;
  line-height:25px;
  background-color: #faf9ef;
  }

  .icons img{
    float: right;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 50%;
    height: 30%;
    }

    .contact{
      width: 100%;
      background-color: #FFb7CE;
      font-family: arial;
      color:#424242;
      float: left;
      font-size: 30px;
      line-height:25px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    @media (max-width: 768px) {
      .contact {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    
    .input-bar form {
      display: flex; /* Align input and button horizontally */
    }

    .input -bar input {
      padding: 5px; /* Add spacing inside the search input */
      margin-right: 5px; /* Add some space between input and button */
      font-size: 20px;
      width: 500px;
      height: 30px;
    
    }

    .input-box {
      width: 90%; 
      box-sizing: border-box;
      padding: 10px; /* Add some padding for spacing */
      font-size: 16px; /* Adjust the font size */
      margin: 10px;
    }
  
    /* Media query for smaller screens */
    @media screen and (max-width: 600px) {
      .input-box {
        width: 90%; /* Decrease width on smaller screens */
        font-size: 14px; /* Decrease font size on smaller screens */

      }
    }

    


    /*.contact-info {
      display: flex;
      width: 100%;
      max-width: 1200px;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    .card {
      background: #2f3542;
      padding: 0 20px;
      margin: 0 10px;
      width: calc(33% - 20px);
      height: 200px;
      display: flex;
      flex-direction: columm;
      justify-content: center;
      align-items: center;
      color: #fff;
    } */
    
    .card-icon {
      font-size: 28px;
      background: #FFb7CE; 
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px !important;
      border-radius: 50%;
      transition: 0.3s linear;
    }

    /*.card:hover .card-icon {
      background: none;
      color: teal;
      transform:  scale(1.6);
    }

    .card p {
      margin-top: 20px;
      font-weight: 300px;
      letter-spacing:  2px;
      max-height: 0;
      opacity: 0;
    }

    .card:hover {
      max-height: 40px;
      opacity: 1;
    }

    @media screen and (max-width:800px) {
      .contact-info {
        flex-direction: column;
      }
    }
    .card {
      width: 100%;
      max-width: 200px;
      margin: 10px 0;
    }*/

    

    .queries {
      background-color: #FFb7CE;
      text-align: left;
      font-family: arial;
      
      
    }

   /* .queries-header {
      text-align: left;
      
      font-family: arial;
      font-size: 50px;
    }*/

    h7 {
      
      font-family: arial;
      font-size: 50px;
      padding-left: 10px;
      width: fit-content;
    }

    .links a {
      color: #050A30;
      text-decoration:none;
      transition: 0.3s, ease-in-out;
    }

    .recipes{
      width: 100%;
      background-color: white;
      font-family: arial;
      color:black;
      font-size: 20px;
      line-height:25px;
      display: block;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: left;
      
    }

    form button {
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      background-color: #FFb7CE; /* Match your theme */
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  form button:hover {
      background-color: #FF8DB2; /* A slightly darker shade for hover effect */
  }
  